#header{
  padding-top: 75px;
}

#content{
  padding: 300px;
}


.social_icons {
    filter: invert(100%);
    transition: filter 0.2s ease-in-out;
    margin-right: 12px;

}
.social_icons:hover {
    filter: grayscale(0%);
}

.bottom_nav{
  color: black;
  text-decoration: none;
  padding: 10px
}

#bottom_links{
  margin: 0;
  padding: 0;
}

.nav-item{
  padding-right: 70px
}


footer{
  padding: 35px;
  background-color: #f0f0f0;
  height: 150px;
}

li {
  list-style-type: none;
  /* delete markers */
}
